<app-navbar ></app-navbar>
<router-outlet>

</router-outlet>
<!--
<app-files appRemoveComponentTag [routerLink]="['files']"></app-files>
<app-profile [routerLink]="['profile']"></app-profile>
-->




