<div class="container bg-white  pt-5 px-4">
  <h1 class="display-4 pt-5">Files</h1>
  <p class="lead">Upload & download your files</p>
  <button class="btn btn-primary btn-lg" (click)="onClick();" >New file</button>
  <p class="pt-2">{{pageinfo| json}}</p>
  
  <div >
    <div class=" d-inline-block  pt-2">
      <p> Items per page:  </p>
    </div>
    <div class="d-inline-block pl-2 col-1">
      <select class="form-control" name="option" (ngModelChange)=getSelectedValue($event) [(ngModel)]="selected">
        <option *ngFor="let op of options" [value]="op.id">
          {{op.value}}
        </option> 
  </select>
    </div>
  
  <table class="table mt-2">
      <thead class="text-white">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Added</th>
            <th scope="col">Size</th>
            <th scope="col"></th>
          </tr>
        </thead>
      <tbody >
          <tr *ngFor="let file of filesService.files | async">
          <th scope="row"><img src="{{file.name | extensionPipe}}" width="30" height="30"></th>
          <td>{{file.name}}</td>
          <td>{{file.added}}</td>
          <td>{{file.size}} MB</td>
          <td >
              <button type="button" class="btn btn-primary mr-2 btn-sm"><i class="fa fa-download"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteClick(file);"><i class="fa fa-times"></i></button>
          </td>
          </tr>
      </tbody>
        
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="selectedIndex <= 1? 'disabled': 'none'"(click)="prevPage()">
        <a class="page-link" tabindex="-1">&laquo;</a>
      </li>
        <li *ngFor='let i of pages()' class="page-item" (click)="pageClicked(i)" [ngClass]="selectedIndex === i? 'active': 'none'"><a class="page-link" >{{i}}</a></li>
      <li class="page-item"[ngClass]="selectedIndex - 1 === pageinfo.currentPage ? 'disabled': 'none'" (click)="nextPage()">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>
 
</div> 
  

      
