<div class="container bg-white  pt-5 px-4">
    <h1 class="display-4 pt-5">New File</h1>
    <p class="lead">Upload a new file</p>
    <button class="btn btn-primary btn-lg mb-3" (click)="onClick();">All Files</button>
    <form #myForm="ngForm">
        <input class="form-control col-6" #newFile ngModel type="text" placeholder="Enter filename" name="Filename" required minlength="1">
        <button [disabled]="!myForm.valid" (click)="uploadFile(newFile.value)" type="submit" class="btn btn-success mt-3">Upload</button>
    </form>
</div>


