<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top ">

    <a class="navbar-brand text-white" href="#">
         <img src="../../../assets/img/cloud.png" alt="" width="40" height="29"> ngCloud
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCont" 
            aria-controls="#navbarCont" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCont">
        <ul class="navbar-nav mr-auto pr-2">
            <li class="nav-item">
                <a class="nav-link text-white-50 " routerLinkActive="active"  [routerLink]="['files']">Files</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link text-white-50 " routerLinkActive="active" [routerLink]="['profile']"><i class="fa fa-user"></i> Jurica</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white-50 ">Logout</a>
            </li>
        </ul>
    </div>
</nav>

