.navbar{
    .navbar-brand:hover{
        cursor: auto !important;
        color: white;
    }
    .nav-link:hover{
        color:#f8f9fa !important;
        opacity: 0.8 !important;
    }
    .nav-item .active{ color:white !important;}
    .nav-item{
        font-size: 1.0em !important;
    }
}


